@font-face {
    font-family: 'RimWordFont';
    src: url('RimWordFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RimWordFont';
    src: url('RimWordFont_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

